body {
    font-family: Helvetica, Arial;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

#map {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#mz-citysearch, #mz-geolocator { 
    display: none 
}

#info {
    bottom: 10px; 
    width: 100%;
    text-align: center;
    pointer-event: none;
    color: white;
    text-outline: 2px 2px black;
}

#loc {
    background-color: rgba(0,0,0,0.5);
    display: table;
    margin: 0px auto 0px auto;
}

#stream {
    width: 480px; 
    height: 270px;
    position: absolute; 
    top: 10px; 
    right: 10px; 
    cursor: pointer;
}

#icon {
    width: 40px;
    height: 40px;
    position: absolute; 
    top: 5px; 
    right: 15px;
    cursor: pointer;
}

.hidden { display: none; }
.unhidden { display: block; }
